.home-container {
  position: relative;
  height: 100vh; 
  width: 100vw; 
  padding: 20px;
  background-image: url('../assets/banner_home.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; 
}

.menu-logo {
  width: 25px; 
  height: auto;
}

@media (max-width: 768px) {
  .home-container {
    padding: 15px;
  }

  .home-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .home-container {
    padding: 10px;
  }

  .home-button {
    padding: 8px 16px;
    font-size: 12px;
  }
}
