.barra-menu {
    position: fixed;
    display: flex;
    justify-items: flex-end;
    top: 0;
    right: 0;
    padding: 15px 30px;
}

.barra-menu h1 {
    color: black;
    position: fixed;
    display: flex;
    justify-items: center;
    top: 0;
    left: 0;
    padding-left: 50px;
}